.AddCompLib/
.vscode/
Assets/Scripts/What.cs
Assets/Texture2D/TextureImporter.preset
Assets/csc.rsp
Library/
Temp/
UserSettings/
obj/
build/
ScreenshotPNG.png
*.meta
a.unity
filename2.png
Logs/
.vs/
.vsconfig